/* background image */
.bg-pic {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.bg-pic::after {
  content: "";
  background: url("../../assets/images/train.jpg");
  background-size:cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1{
  margin-bottom:0px;
}

section {
  width:90%;
}

table{
  width:100%;
  margin:0 auto;
}
.table thead th, .border-mod td, .border-mod th, .table td, .table th {
  border-color:black;
}
.table-sm{
  display:none;
}
thead{
  background-color:snow;
}
th{
  font-weight: 400;
}
tr{
  border-bottom:1px solid black;
}

#control-panel-login{
  margin-top: 20px;
  margin-bottom: 20px;
}

.montserrat-top-header{
  font-family:'IBM Plex Sans', sans-serif;
  font-style:normal;
  background-color:navajowhite;
  padding-left:15px;
}

.montserrat-header{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight:700;
  font-style: italic;
  background-color:antiquewhite;
  padding-left:15px;
}

.lato{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight:700;
}

label{
  margin-bottom:0;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

#modal{
  position:fixed;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
  z-index:5;
  display:none;
}
#modal-content{
  width:80%;
  z-index:10;
}
.modal-content{
  margin-top:20px;
  padding:20px 20px;
}

.form-control-lg{
  border-radius:0;
}

@media screen and (max-width: 600px) {
  .lato{
font-size:.8em;  
}
  section {
    width:95%;
  }
}

@media screen and (max-width: 400px) {
  .table-sm{
    display:block;
  }
  .table-lg{
    display:none;
  }
  section {
    width:95%;
  }
  h1,h3{
    font-size:2em;
  } 
  .lato{
    font-size:.8em;
  }
}
